$cellSize: 50 px;

body{
    display: flex;
    background-color: blue ;
    justify-content: center ;
}

.game-conteiner{
    display: flex;
    flex-direction: column ;
    & #game{
        display: grid;
        &> div {
            width: $cellSize;
            height: $cellSize;
            border: 1px solid;
        }
    }
}